# IDE
.vscode

.eggs
*.egg-info
build
dist
*.pyc
.venv
.mypy_cache
.hypothesis
obj
docs/extensions
.ipynb_checkpoints
pytket/extensions/quest/_metadata.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pytket/extensions/quest/.DS_Store
pytket/extensions/.DS_Store
pytket/.DS_Store
.DS_Store
